{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!
{% endblock %}

{% block body %}
	<div>
		{% for owner in hwi_oauth_resource_owners() %}
			<a href="{{ hwi_oauth_login_url(owner) }}">
				Continuar con
				{{ owner | trans({}, 'HWIOAuthBundle') }}
			</a>
		{% endfor %}

		<section>
			<h1>Registro de Usuario</h1>
			<form action="{{ path('app_auth_register') }}" method="post">
				<input type="text" name="firstName" id="firstName" placeholder="Nombre">
				<input type="text" name="lastName" id="lastName" placeholder="Apellido">
				<input type="text" name="phone" id="phone" placeholder="Teléfono">
				<input type="text" name="email" id="email" placeholder="Email">
				<input type="password" name="password" id="password" placeholder="Contraseña">
				<input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar contraseña">

				<input type="checkbox" name="emailNotifications" id="emailNotifications"/>

				<button type="submit" class="btn btn-primary">Submit</button>

			</form>
		</form>
	</section>
</div>{% endblock %}
