{% extends 'base.html.twig' %}

{% block title %}Hello FoundPetsController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		{% for owner in hwi_oauth_resource_owners() %}
			<a href="{{ hwi_oauth_login_url(owner) }}">
				Continuar con
				{{ owner | trans({}, 'HWIOAuthBundle') }}
			</a>
		{% endfor %}
	</div>
{% endblock %}
